<mat-toolbar
    id="header"
    class="mat-elevation-z7"
    color="primary">
    <div
        fxShow="true"
        fxHide.gt-sm="true">
        <button
            class="mat-elevation-z1"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </div>
    <div>
        <h1 class="mat-display-1">
            Braden Coates
        </h1>
    </div>
    <div
        [hidden]="!userService.loggedIn"
        fxShow="true"
        style="width: 254px; display: flex; justify-content: flex-end;"
        fxHide.lt-md="true">
        <button
            color="accent"
            class="mat-focus-indicator"
            mat-raised-button
            (click)="logout()">
            logout
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container
    color="accent"
    fxFlexFill>
    <mat-sidenav
        #sidenav
        fxLayout="column"
        mode="side"
        opened="false">
        <div fxLayout="column">
            <!-- Nav buttons -->
        </div>
    </mat-sidenav>
    <mat-sidenav-content
        (click)="sidenav.opened=false"
        fxFlexFill
        fxLayout="column">
        <div fxFlex>
            <router-outlet class="mat-app-background"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>