.navbar {
  background: #591ab8;
  margin-bottom: 1em;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  margin-right: 1em;
  border-radius: 1em;
}

.nav-link:hover {
  background: #fff;
  color: #591ab8;
}

textarea {
  width: 100%;
}
