<form action="/api/contact" method="POST">
    <h1>Contact Me</h1>
    <mat-form-field>
        <input matNativeControl type="name" name="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matNativeControl type="email" name="email" placeholder="Email Address">
    </mat-form-field>
    <mat-form-field>
        <textarea matNativeControl name="text" rows="8" placeholder="Message"></textarea>
    </mat-form-field>
    <button onclick="document.getElementsByTagName('form')[0].submit();" mat-raised-button color="accent" type="submit">Send</button>
</form>